/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color:#E8EBE5
}

/* Bouton d'ouverture */
#open-menu {
    position: fixed;
    top: 10px;
    left: 7%;
    background-color: #1B9AAA;
    color: white;
    border: simple;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 999;
	
}

/* Menu */
#menu {
    position: fixed;
    top: 0;
    left: -25%; /* Cache le menu en dehors de l'écran */
    width: 10%;
    height: 100%;
    background-color: #1B9AAA;
    color: white;
	border-right-style:solid;
	border-color:black;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
}

/* Bouton pour fermer le menu */
#close-menu {
    position: absolute;
    top: 10px;
    left: 80%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Navigation dans le menu */
#menu nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

#menu nav ul li {
    margin: 15px 0;
}

#menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu nav ul li a:hover {
    text-decoration: underline;
}

/* Quand le menu est ouvert */
#menu.open {
    left: 0;
}

h1 {
	text_align: center;
}
