* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel {
  height: 50vh;
  width: 50vw;
  position: center;
  margin:0 13.75%;
  border-style:solid;
  border-radius:5px;
  border-color:black;
}
.carousel2 {
  height: 50vh;
  width: 50vw;
  position: center;
  margin:0 13.75%;
  border-style:solid;
  border-radius:5px;
  border-color:black;
}
.carousel button {
  position: absolute;
  background: #131313;
  border: none;
  border-radius:2px;
  outline: #E8EBE5;
  font-size: 2.6rem;
  z-index: 2;
  cursor: pointer;
  color: #E8EBE5;
  transform: translateY(-50%);
  top: 50%;
}
#prev {
  left: 25% ;
}
#next {
  right: 25.5%;
}
.carousel li {
  list-style: none;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.slide2 {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.slide.active {
  opacity: 1;
}
.slide.active2 {
  opacity: 1;
}
.slide img {
  display: block;
  height: 50%;
  width: 50%;
  object-fit: cover;
}
.slide img2 {
  display: block;
  height: 50%;
  width: 50%;
  object-fit: cover;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 50px 15%;
    padding: 0;
	background-color:#E8EBE5;
}

/* Bouton d'ouverture */
#open-menu {
    position: fixed;
    top: 10px;
    left: 7%;
    background-color: #1B9AAA;
    color: white;
    border: simple;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 999;
	
}

/* Menu */
#menu {
    position: fixed;
    top: 0;
    left: -25%; /* Cache le menu en dehors de l'écran */
    width: 10%;
    height: 1000%;
    background-color: #1B9AAA;
    color: white;
	border-right-style:solid;
	border-color:black;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
}

/* Bouton pour fermer le menu */
#close-menu {
    position: absolute;
    top: 10px;
    left: 80%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Navigation dans le menu */
#menu nav ul {
    list-style: none;
    padding: 20px 10%;
    margin: 20px 0;
}

#menu nav ul li {
    margin: 25px 0;
	text-align:right;
}

#menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu nav ul li a:hover {
    text-decoration: underline;
}

/* Quand le menu est ouvert */
#menu.open {
    left: 0;
}

.titre {
text-align: center;
font-size: 40px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header {
            background-color: blue ;
            color: white;
            padding: 20px;
            text-align: center;
        }
        section {
            padding: 20px;
            margin: 20px auto;
            max-width: 900px;
            background: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        h1 {
            color: black;
			text-align: center;
			font-size: 40px;
        }
		h2, h3 {
            color: orange;
			text-align: center;
			margin:20px;
        }
}
		
.organigramme img {
    max-width: 100%;
    height: auto;
	display: block;
    margin: 20px auto;
	
}
.team-member {
        text-align: center;
        margin: 10px 0;
}
.text {
	text-align: center;
}

date_evenement {
	text-align: center;
	color: #1b9aaa;
	font-weight: bold;
}



description {
	text-align: center;
	color: black;
	font-style: italic;
}
    <footer>
        <p style="text-align: center; padding: 10px; background: #1B9AAA; color: white;">
			<b> Contact : </b>
			<br> <img src="./image/contact.PNG" alt="contact" align="center" style="width:30%;">
			<br> <a href="https://www.instagram.com/hope_la_mini?igsh=ZHV2OTFveXBxbzVi" > <img src="./image/contact-insta.PNG" alt="contact" align="center" style="width:30%;"> </a>

		</p>
    </footer>





